In [2]:
### Reading Delimited and Relational Databases

In [1]:
import numpy as np
import pandas as pd

In [2]:
testdata = pd.read_csv("testfile.txt", sep="\t", encoding = "ISO-8859-1")
testdata.head()

    head1  head_2  head-3  head 4    head
0  data11  data12  data13  data14  data15
1  data21  data22  data23  data24  data25
2  data31  data32  data33  data34  data35
3  data41  data42  data43  data44  data45
4  data51  data52  data53  data54  data55

In [ ]:
## Connect to Database

In [4]:
import pymysql
conn = pymysql.connect(host="localhost",
                      user="root",
                      passwd="",
                      db="information_schema")
c = conn.cursor()
c.execute("select * from engines;")
all_rows = c.fetchall()
print(type(all_rows))
print(all_rows[:5])

ModuleNotFoundError: No module named 'pymysql'

In [ ]:
df = pd.DataFrame(list(all_rows), columns = ["engine", "support","comment", "transactions", "XA", "savepoints"])
df.head()

In [6]:
#Reading Data From Websites

In [15]:
import requests, bs4
url = "https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en"
req = requests.get(url)
soup = bs4.BeautifulSoup(req.text, "html5lib")
reviews = soup.select('fbQN7e')
print(type(reviews))
print(len(reviews))
print("\n")
print(reviews)

<class 'list'>
0


[]